body {
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
   overflow-x: hidden;
/*   position:absolute;
   bottom:0;
   width:100%;*/
}




/*added by jc*/

.hrdesign
{ background-color: #d1d6eb; height: 1px; border: 0; }

#lbl_breakdown
{

 font-size: 18px;
 font-weight: italic;
 color: #1aa3ff;
 
}

.lbl_account
{
 font-size: 18px;
 font-weight: italic;
 color: #1aa3ff;
}



/*LEGEND*/
/* basic positioning */
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #000; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
/*.legend .available { background-color: #00ff00; }*/
.legend .occupied { background-color: #ff0000; }
.legend .pending { background-color: #ffff00; }




/*enroll css*/

#txtSearch{
	background-color: gray;
	color: white;
}
.btnEnrolls{
	padding: 0px;
}
table.dataTable tbody tr {
    background-color: #282828;
}



/*disabled input*/

input[type=text]:disabled {
	color: #ffffff;
    background: #888888;
}