body {
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
   overflow-x: hidden;
/*   position:absolute;
   bottom:0;
   width:100%;*/
}


/*added by jc*/

.hrdesign
{ background-color: #d1d6eb; height: 1px; border: 0; }

.hrFooter
{ background-color: #d1d6eb; height: 2px; width: 600px; border: 0; }


hr.style-eight 
{ 
     padding: 0;
     border: none; 
     border-top: medium double #333; 
     color: #333; 
     text-align: center; 
} 
 
 hr.style-eight:after 
 { 
     content: "§"; 
     display: inline-block; 
     position: relative; 
     top: -0.7em; 
     font-size: 1.5em; 
     padding: 0 0.25em; 
     background: white; 
 }


#lbl_breakdown
{

 font-size: 18px;
 font-weight: italic;
 color: #1aa3ff;
 
}

.lbl_account
{
 font-size: 18px;
 font-weight: italic;
 color: #1aa3ff;
}



/*LEGEND*/
/* basic positioning */
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #000; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
/*.legend .available { background-color: #00ff00; }*/
.legend .occupied { background-color: #ff0000; }
.legend .pending { background-color: #ffff00; }




/*enroll css*/

#txtSearch{
    background-color: gray;
    color: white;
}
.btnEnrolls{
    padding: 0px;
}
table.dataTable tbody tr {
    background-color: #282828;
}



/*disabled input*/

input[type=text]:disabled {
    color: #ffffff;
    background: #888888;
}






/*hover effect*/
.hovereffect {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align: center;
  cursor: default;
}
.hovereffect img {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
    
.hovereffect img {
  display: block;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(0.9 );
    -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #bbd2e2);
  
}

.hovereffect:hover img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}



.centerHeader
{
	font-weight: bold;
    text-shadow: #000 0 4px 5px;
    font-size: 90px;
}


.qweqwe
{
    margin-right: 500px;    
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: pink;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.menuName
{
    font-size:13px;
    text-align: center;
}

.shadowEffect
{

    -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #000);
}


.scrollbar
{
 margin-left: 30px;
 float: left;
 height: 300px;
 width: 65px;
 background: #F5F5F5;
 overflow-y: scroll;
 margin-bottom: 25px;
}

.force-overflow
{
 min-height: 450px;
}

/*
 *  STYLE 10
 */

#style-10::-webkit-scrollbar-track
{
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 background-color: #F5F5F5;
 border-radius: 10px;
}

#style-10::-webkit-scrollbar
{
 width: 10px;
 background-color: #F5F5F5;
}

#style-10::-webkit-scrollbar-thumb
{
 background-color: #AAA;
 border-radius: 10px;
 background-image: -webkit-linear-gradient(90deg,
                                           rgba(0, 0, 0, .2) 25%,
             transparent 25%,
             transparent 50%,
             rgba(0, 0, 0, .2) 50%,
             rgba(0, 0, 0, .2) 75%,
             transparent 75%,
             transparent)
}

#logout
{
    font-size:16px;
    font-weight:bold;
    color:#d1d6eb;
    height:40px;
    margin-top:30px;
    margin-right:-5px;
}




/* UTIL BUTTONS */
.utilbtnHover {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align: center;
  cursor: default;
}
.utilbtnHover img {
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.4s ease-in-out;
}
    
.utilbtnHover img {
  display: block;
  position: relative;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(1.1 );
    -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(2px 2px 5px #717276);
  
}

.utilbtnHover:hover img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1.5);
}

.errors {
    color: red;
    font-weight: bold;
    display: block;
    margin-left: 105px;
}
.tealColor
{
  margin-top:10px;
  border-radius:10px;
  text-shadow: 1px 1px #000;

  background: #485563; / fallback for old browsers /
  background: -webkit-linear-gradient(to left, #485563 , #29323c); / Chrome 10-25, Safari 5.1-6 /
  background: linear-gradient(to left, #485563 , #29323c); / W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ /
         
 
}

.imageMarginCustomer
{
 -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #000);
}


.marginTop
{
 margin-top:40px;
 
 

background: #485563; / fallback for old browsers /
background: -webkit-linear-gradient(to left, #485563 , #29323c); / Chrome 10-25, Safari 5.1-6 /
background: linear-gradient(to left, #485563 , #29323c); / W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ /
        
 
 /* 
 background: #7cbc42; fallback for old browsers
 background: -webkit-linear-gradient(to left, #7cbc42 , #eef2f3); Chrome 10-25, Safari 5.1-6
 background: linear-gradient(to left, #717276 , #d1d6eb); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}





    div.fileinputs {
            position: relative;
        }

        div.fakefile {
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
        }

        div.fakefile input[type=button] {
            / enough width to completely overlap the real hidden file control /
            cursor: pointer;
            width: 148px;
        }

        div.fileinputs input.file {
            position: relative;
            text-align: right;
            -moz-opacity:0 ;
            filter:alpha(opacity: 0);
            opacity: 0;
            z-index: 2;
        }
        
        
.enrolLabel
{
 margin-top: 40px;
 text-shadow: #000 0 4px 5px;
    font-size:30px;
}

.personnelLabel
{
 text-shadow: #000 0 4px 5px;
    font-size:24px;
    padding-top:20px;
    padding-right:20px;
}

.personnelStat
{
 text-shadow: #000 0 4px 5px;
    font-size:32px;
    font-weight:bold;
    padding-top:20px;
    padding-right:20px;
}

.personnelIcon
{
 text-shadow: #000 0 4px 5px;
    font-size:24px;
    font-weight:bold;
    padding-top:20px;
    padding-right:20px;
    margin-bottom:20px;
 margin-left: 20px;
 -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #000);
}
.uploadIcon
{
	margin-top: 10px;
}

.regButton
{
	margin-right: 10px;
}

.chooseButton
{
	margin-right: 10px;
}

.formClass
{
	margin-top: -35px;
}

.inputfile {
 width: 0.1px;
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1;
}

.inputfile:focus + label,
.inputfile + label:hover {
}

.inputfile + label {
 cursor: pointer; "hand" cursor
}

.inputfile:focus + label {
 outline: 1px dotted #000;
 outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
 pointer-events: none;
}

.style-1 input[type="text"] {
  max-width: 100%;
}

